<h1>BroList</h1>

<div ng-app="app">
  <div ng-controller="broCtrl" ng-init="setup()">

    <p><b>Number of Bros on List: </b> {{ bros.length }} </p>
    <h2>Add New Bro:</h3>
    Name: <input ng-model="newBroName" ng-click="clearNewBro();"><br />
    Bio: <input ng-model="newBroBio" ng-click="clearNewBro();"><br />
    Job: <input ng-model="newBroJob" ng-click="clearNewBro();"><br />
    Favorite Food: <input ng-model="newBroFood" ng-click="clearNewBro();"><br />
    <button ng-click="addBro(newBroName,newBroBio,newBroJob,newBroFood);">Add Bro</button>
<!--Add Filter -->
    <hr>
    <div class="filter_input">
    <strong>Search: </strong><input ng-model="searchFilter"><br />
    <strong>Filter By Name: </strong><input ng-model="nameFilter"><br />
    <strong>Filter By Favorite Food: </strong><input ng-model="foodFilter"><br />
    </div>
    <hr>
    <h2>Da Bros</h2>
    <div id="bro_data">
      <table>
        <tr>
          <th>
            <button ng-click="sortBy('name')">Name</button>
            <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
          </th>
          <th>
            <button ng-click="sortBy('job')">Job</button>
            <span class="sortorder" ng-show="propertyName === 'job'" ng-class="{reverse: reverse}"></span>
          </th>
          <th>
            <button ng-click="sortBy('fav_food')">Favorite Food</button>
            <span class="sortorder" ng-show="propertyName === 'fav_food'" ng-class="{reverse: reverse}"></span>
          </th>
          <th>
            <button ng-click="sortBy('bio')">Bio</button>
            <span class="sortorder" ng-show="propertyName === 'bio'" ng-class="{reverse: reverse}"></span>
          </th>
        </tr>
  <!-- Loop Start -->
          <tr ng-repeat="bro in bros | filter : {name: nameFilter, fav_food: foodFilter, $: searchFilter } | orderBy:propertyName:reverse track by $index ">
            <td><a href="api/v2/bros/{{bro.id}}"> {{ bro.name }} </a></td>
            <td> {{ bro.job }} </td>
            <td> {{ bro.fav_food }} </td>
            <td> {{ bro.bio }} </td>
          </tr>
  <!-- Loop End -->
      </table>
    </div>
  </div>
</div