<h1>BroList</h1>

<div ng-app="app">
  <div ng-controller="broCtrl" ng-init="setup()">

    <p><b>Number of Bros on List: </b> {{ bros.length }} </p>
    <h2>Add New Bro:</h3>
    Name: <input ng-model="newBroName" ng-click="clearNewBro();"><br />
    Bio: <input ng-model="newBroBio" ng-click="clearNewBro();"><br />
    Job: <input ng-model="newBroJob" ng-click="clearNewBro();"><br />
    Favorite Food: <input ng-model="newBroFood" ng-click="clearNewBro();"><br />
    <button ng-click="addBro(newBroName,newBroBio,newBroJob,newBroFood);">Add Bro</button>
<!--Add Filter -->
    <hr>
    <div class="filter_input">
    <strong>Search: </strong><input ng-model="searchFilter"><br />
    <strong>Filter By Name: </strong><input ng-model="nameFilter"><br />
    <strong>Filter By Favorite Food: </strong><input ng-model="foodFilter"><br />
    </div>
    <table style='border: 1px'>
      <tr>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Food</th>
        <th>Bio</th>
      </tr>
<!-- Loop Start -->
        <tr ng-repeat="bro in bros | filter : {name: nameFilter, fav_food: foodFilter, $: searchFilter } track by $index ">
          <td><a href="/bros/{{bro.id}}"> {{ bro.name }} </a></td>
          <div ng-
          <td> {{ bro.job }} </td>
          <td> {{ bro.fav_food }} </td>
          <td> {{ bro.bio }} </td>
        </tr>
<!-- Loop End -->
    </table>
  </div>
</div